.all-cours-show {
  margin: 70px 0;


  div.global-forms-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 70px;

    .container-forms {
      background-color: #f7f7f7;
      width: 70%;
      padding: 20px;
      border-radius: 15px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      border: 1px solid #ccc;

      > div {
        margin: 0;
      }

      .introduction-forms {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 20px 0 0 0;

        .clear-all-sort button {
          padding: 0px 20px;
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;

          svg {
            padding: 10px;
          }

          small {
            font-size: small;
          }
        }

        > div {
          align-self: flex-end;
        }

        .input-select-container {
          width: calc(
            30% - 20px
          ); // Largeur en tenant compte de la marge de gauche de 20px
          margin-right: 10px;
          margin-bottom: 0;
        }

        .input-search-container {
          align-self: flex-end;
        }
      }

      .list-intruments .carrousel-container .intruments {
        background-color: #f7f7f7;
        .instrument {
          background-color: #ffffff;
        }
      }
    }
  }

  ul.all-courses {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(245px, 1fr));
    gap: 25px;
    margin-bottom: 75px;
    padding: 0;
    list-style: none;
    li {
      margin-left: 0;
      margin-right: 0;
      align-self: center;
      justify-self: center;

      .card {
        height: 100%;
        width: 245px;
        border: 1px solid #ccc;
        border-radius: 10px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        overflow: hidden;
        align-self: center;
        transition: transform 0.2s ease-in-out;
      }
    }
  }

  div.gestion-pages.pagination {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;

    span {
      display: inline-block;
      padding: 0 30px;
      text-align: center;
      vertical-align: sub;
      vertical-align: -webkit-baseline-middle;
    }
  }
}
