
  div.grid-box-msg.messages-course  {
    padding: 70px 0;
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
   
    .conversation-zone-container form.send-text-area .btn-send button.secondary#chat-return {
      display: block;
    }

  }

