
.container-messenger {
  margin: 70px 0;
  .recipient-empty {
    background-color: rgb(235, 235, 235);
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
     p {
      padding: 5px;
      text-align: center;
     }
  }

  div.grid-box-msg {
    display: flex;
    flex-direction: row;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    aside.list-recipient {
      width: max-content;
      border-radius: 10px;
      display: inline-block;
      border: 1px solid #f0f0f0;
      box-shadow: rgb(224, 224, 224) 0px 1px 4px;
      height: max-content;

      div  {
        background-color: #6772DC;
        text-align: center;
        padding: 20px 20px ; 
        border-top-left-radius: 10px;
        border-top-right-radius: 10px ;
        margin: 0;
        span {
          font-weight: 500;
          color: white;
          small {
            font-size: .870em;
          }
        }
      }

      ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        max-height: 550px;
        overflow-y: auto;
        width: 230px;

        li {
          padding: 10px 20px ; 
          margin: 0;
          text-align: center;
          &:hover {
            color:rgb(107, 119, 248);
          }
        }
      }
    }
  }
}