div#layout-container {
  div.container-header {
    background-image: url("./assets/imagedefond.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: 0 -6px 15px 8px rgba(62, 62, 62, 0.5); 

    div.navbar-mobile-isOpen {
      display: none;
    }
  }
  
  


  main {
      margin: 0 auto;
      min-height: 100vh;
      div.global-homepage div.container-home-hero {     
          background-image: url("./assets/imagedefond.jpg"); 
          background-size: cover;
          background-repeat: no-repeat;
          box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.5); 
      }
  }
  footer {
      z-index: 99999999;
  }
}



@media only screen and (max-width: 1024px){

  div#layout-container {

    div.container-header {
      padding: 5px 30px;
      background-image: url("./assets/imagedefond.jpg"); 
      background-size: cover;
      background-repeat: no-repeat;
      box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.5); 
        div.navbar-mobile-isOpen {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          .burger-menu {
            display: flex;
            align-items: center;
            svg {
              color: white;
            }
          }
    
          .logo-zone {
          img {
            height: 60px;
            width: 60px;
          }
        }
      }

      header {
        box-shadow: none;
      } 
    }


  }

  //Sidebar ouvert
  div#layout-container.open {
    position: relative;
    div.container-header header {
        background-color: rgb(14, 18, 120);
        background-image: none;
        width: fit-content;
        box-shadow: 4px 1px 15px 2px rgba(57, 56, 56, 0.45);

        // background: none;
        position: absolute;
        z-index: 999999;
        top: 0;
        left: 0;
        bottom: 0;
        opacity: 1;
    }

    
    .cache-mobile{
      position: absolute;
      z-index: 999;
      background-color: rgb(0, 0, 0);
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      opacity: 0.5;
    }


    main {
      .container-messenger {
        margin: 0;
      }
    }
  }
}


